


  <form novalidate name="form">
    

      <div class="form box box-info">

        <div class="box-header">
          <h3 class="box-title">
            <span ng-if="!editing" translate>Namespaces</span>
            <span ng-if="editing" translate>Edit Namespaces</span>
          </h3>
        </div>


        <div class="box-body">

          
            <div class="row">
              <div class="col-sm-4 form-group ">
                <label><span translate>Name</span> :</label>
                <string-field model="name" field-name="'name'" css-class="'form-control input-lg rounded string_field'" ></string-field>
              </div>
              </div>
        </div>
        <!-- body body -->
      </div>
      <!-- box -->
    
  </form>



  <div class="row">
      <div class="col-sm-6 columns">
        <button class="btn small green" ng-click="save(false)" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save</span></button>
        <button class="btn small blue" ng-click="save(true)" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-check"></i> <span translate>Save & Add Another</span></button>
        <button class="btn small red" ng-click="cancel()"><i class="fa fa-times"></i> <span translate>Cancel</span></button>
      </div>
  </div>
</div>
