$bg: #f9f9f9;

// COLORS -----------------------

// Blue
$darker_blue: #16193B;
$dark_blue: #222D3A;
$blue: #4E7AC7;
$light_blue: #7FB2F0;
$lighter_blue: #ADD5F7;

$gray: #808080;
$dark_gray: #3f3f3f;
$almost_black: #1f1f1f;

$yellow: #fcb55d;
$dark_yellow: #de9b54;

$twitter: #4092CC;
$gplus: #D34836;
$facebook: #3B579D;
$instagram: #49769C;

$white: #f9f9f9;
.color-white {
   color: $white;
}
.bg-white {
   background-color: $white;
}
// HEADER -----------------------
$header_inner_bg: $light_blue;
$header_outter_bg: $blue;

$header_gradient_x: 45px;
$header_gradient_y: 45px;