<div class="row">
  <div class="col-sm-12 col-md-8">

    <div class="details">
    
      <dl>
      <dt translate>Title :</dt> <dd clas="detail field value">{{object.title}}</dd>
      </dl>
    
      <dl>
       <dt translate>Site_category :</dt> <dd clas="detail field value">{{object.site_category.name}}</dd>
      </dl>
    
      <dl>
       <dt translate>Namespace :</dt> <dd clas="detail field value">{{object.namespace.name}}</dd>
      </dl>
    
      <dl>
      <dt translate>Description :</dt> <dd clas="detail field value">{{object.description}}</dd>
      </dl>
    
    </div>


  </div>

  <div class="col-sm-12 col-md-4">
  </div>
</div>
