<div class="details">
    
      <p>
      <b translate>Title :</b> {{object.title}}
      </p>
    
      <p>
       <b translate>Category :</b> {{object.category.name}}
      </p>
    
      <p>
       <b translate>Namespace :</b> {{object.namespace.name}}
      </p>
    
      <p>
      <b translate>Description :</b> {{object.description}}
      </p>
    
  <ul class="button-group float-right">
    <a ng-href="#/sites/{{ object.id }}/edit" class="small">
      <span class="fa fa-edit"></span> <span translated>Edit</span>
    </a>
  </ul>
</div>
